{% extends "opentrellisFront/base.html" %}
{% block title %}Trellis - About Us{% endblock %}
{% load static %}
{% block content%}
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 text-center mx-auto">
                <h1 class="brand-green poppins-bold">About Us</h1>
            </div>
            <div class="col-lg-10 mx-auto">
                <p>Open Trellis is an online community of business founders, volunteers and sponsors with a shared philosophy. A shared view about the power of the individual, and the strength in our joint efforts towards a sustainable economy.</p>
                <p>Each person is created with individual dignity, an intrinsic value. We recognize the individual’s rights, that they may use this freedom to pursue their highest ambitions. Therefore, together we share in joint responsibilities, to use this individual liberty in civic advancement, and to pursue a sustainable future for the common good.</p>
                <p>We each choose a beneficial vision for the future, and a business model that allows us to pursue it. As we cultivate this seed of an idea, we also help build the framework, the Trellis, upon which others will grow their businesses. Together we provide:</p>
                <ul>
                    <li>Community</li>
                    <li>Content</li>
                    <li>Capital</li>
                </ul>
                <p>Each person benefits from embracing the opportunity, and cultivating their business idea. We also benefit by sharing our talents to help others build theirs. </p>
                <p>Together we are creating the policies, models, asset classes, and tools for individual ownership in a sustainable economic system. Join us:</p>
                <ul>
                    <li>Grow your Business</li>
                    <li>Build the Trellis</li>
                    <li>Support our Work</li>
                </ul>
            </div>
            <div class="col-lg-8 text-center mx-auto my-2">
                <h1 class="brand-green poppins-bold">Contact</h1>
            </div>
            <div class="col-lg-10 mx-auto">
                <p>For more information, please contact us at: donate@opentrellis.org or (804) 335-7198.</p>
                <div class="ml-5">
                <p>Open Trellis<br>
                    P.O. Box 27852<br>
                    Richmond, VA 23116<br> 
                    United State of America
                </p>                
                </div>
                <p>Open Trellis® is an initiative of RVA Works Enterprise Support® a public charity. All contributions are fully deductible under the 501(c)3 exemption. All rights reserved.</p>

            </div>
        </div>
    </div>
</section>
{% endblock %}