{% extends "opentrellisFront/base.html" %}
{% block title %}Document{% endblock %}
{% load static %}
{% block content%}
<section>
    <div class="container">
        <div class="row pb-5">
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="section-title brand-green">Meet some of our alumni</h1>
                <p>We've reached over 500 entrepreneurs and have seen nearly 100 alumni complete our core business creation program since 2014.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/alumni_photos/CBaylor3.jpg' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2 class="">Carleen Baylor</h2>
                <p class="rem-1-5 brand-orange poppins-bold"><a class="brand-orange" href="https://facebook.com/NuttyButtery/">Nutty Buttery</a></p>
                <p>Ice Cream Parlor, Pantry, Café with a friendly menu, favorite ice cream flavors, revolving artwork, music and folks like you! Located at 701 West Clay Street, Richmond.</p>
                <a href="tel:804-447-7616" class="rem-1-5 pr-3"><i class="fas fa-phone"></i></a>
                <a href="https://www.facebook.com/NuttyButtery/" class="rem-1-5"><i class="fas fa-link"></i></a>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/team_photos/charletta_darville.png' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Charletta Darville</h2>
                <p class="rem-1-5 brand-orange poppins-bold">Community Aid, LLC</p>
                <p>Behavioral health agency assisting those with special needs. Providing service facilitation for individuals and families, so they can remain in their homes.</p>
                <a href="tel:804-339-2821" class="rem-1-5 pr-3"><i class="fas fa-phone"></i></a>
                <a href="mailto:charletta@communityaid.us"><i class="fas fa-envelope rem-1-5"></i></a>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/team_photos/charolette_davis.png' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Charolette Davis</h2>
                <p class="rem-1-5 brand-orange poppins-bold">Lyfestyle Mobile</p>
                <p>Innovative social movement to design and build custom trailers. These units provide living accommodations that can also be utilized as a temporary or permanent mobile business.</p>
                <a href="tel:804-549-8792"><i class="fas fa-phone pr-3 rem-1-5"></i></a>
                <a href="mailto:charolette_davis@yahoo.com"><i class="rem-1-5 fas fa-envelope"></i></a>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/alumni_photos/AGriffin1.jpg' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Alan Griffin</h2>
                <p class="brand-orange poppins-bold rem-1-5">Saving with Solar, LLC</p>
                <p>Electrical services and energy savings through the installation and maintenance of solar systems.</p>
                <a href="tel:804-876-2006"><i class="fas fa-phone pr-3 rem-1-5"></i></a>
                <a href="mailto:savingwithsolar@hotmail.com"><i class="fas fa-envelope rem-1-5"></i></a>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/alumni_photos/KKhamis2.jpg' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Khalid Khamis</h2>
                <p class="brand-orange poppins-bold rem-1-5">Stack & Strike, Inc.</p>
                <p>Building a new sport, and creating a new way of having fun!</p>
                <a href="tel:804-503-1822"><i class="fas fa-phone rem-1-5 pr-3"></i></a>
                <a href="stackandstrick@gmail.com"><i class="fas fa-envelope rem-1-5"></i></a>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/alumni_photos/DPastran5.jpg' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>David Pastran</h2>
                <p class="brand-orange poppins-bold rem-1-5">River City Upholstery</p>
                <p>We restore antique furniture and automotive upholstery so you can rest easy.</p>
                <a href="tel:804-297-8462"><i class="fas fa-phone rem-1-5 pr-3"></i></a>
                <a href="mailto:davidp@rcupholstery.com"><i class="fa fa-envelope rem-1-5"></i></a>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/alumni_photos/BRichardson2.jpg' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Bernie Richardson</h2>
                <p class="brand-orange poppins-bold rem-1-5"><a class="brand-orange" href="https://berniesbakedgoods.com">Bernie’s Baked Goods</a></p>
                <p>If you’re looking for some sweet satisfaction, call Bernie’s Baked Goods and place an order! Featuring Mississippi Mud Cake, 7-Up Cheese Cake Bars, Sweet Potato Cookie Bars, Gingersnaps, cakes, pies, cookies, breads, and pastries. Remember Bernie’s for your special occasion: weddings, birthdays, parties, social gatherings, or any occasion. ServSafe certified and DBE Certified!</p>
                <a href="tel:804-301-9712"><i class="fas fa-phone rem-1-5 pr-3"></i></a>
                <a href="berniesbakedgoods.com"><i class="fas fa-link rem-1-5"></i></a>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/alumni_photos/ISamuels3.jpg' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Irish Samuels </h2>
                <p class="brand-orange poppins-bold rem-1-5"><a href="https://www.facebook.com/irish-samuels/" class="brand-orange">Sam’s Stitch & Sew</a></p>
                <p>Customized, hand sewn clothing and other unique designs.</p>
                <a href="tel:804-405-0738"><i class="fas fa-phone rem-1-5 pr-3"></i></a>
                <a href="https://www.facebook.com/irish-samuels/"><i class="fas fa-link rem-1-5"></i></a>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/alumni_photos/KWilliams1.jpg' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Kevin Williams</h2>
                <p class="brand-orange poppins-bold rem-1-5">Build a Wreck</p>
                <p>We buy wrecked automobiles, restore them to factory specifications. It’s the used, used car you can purchase for less.</p>
                <a href="tel:804-801-9771"><i class="fas fa-phone rem-1-5 pr-3"></i></a>
            </div>
        </div>
    </div>

    <p class="text-center">We love celebrating our alumni! If you want to be highlighted on this page reach out to the team via email.</p>
</section>
{% endblock %}