{% extends "opentrellisFront/base.html" %}
{% block title %}Document{% endblock %}
{% load static %}
{% block content%}
<section>
    <div class="container">
        <div class="row pb-5">
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="section-title brand-green">Meet some of our alumni</h1>
                <p>We've reached over 500 entrepreneurs and have seen nearly 100 alumni complete our core business creation program since 2014.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/alumni_photos/CBaylor3.jpg' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Carleen Baylor</h2>
                <p>Nutty Buttery</p>
                <p>Ice Cream Parlor, Pantry, Café with a friendly menu, favorite ice cream flavors, revolving artwork, music and folks like you! Located at 701 West Clay Street, Richmond.</p>
                <p>(804)447-7616</p>
                <p>https://www.facebook.com/NuttyButtery/</p>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/team_photos/charletta_darville.png' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Charletta Darville</h2>
                <p>Community Aid, LLC</p>
                <p>Behavioral health agency assisting those with special needs. Providing service facilitation for individuals and families, so they can remain in their homes. (804)399-2821 and charletta@communityaid.us</p>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/team_photos/charolette_davis.png' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Charolette Davis</h2>
                <p>Lyfestyle Mobile</p>
                <p>Innovative social movement to design and build custom trailers. These units provide living accommodations that can also be utilized as a temporary or permanent mobile business. (804)549-8792 and charolette_davis@yahoo.com</p>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/alumni_photos/AGriffin1.jpg' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Alan Griffin</h2>
                <p>Saving with Solar, LLC</p>
                <p>Electrical services and energy savings through the installation and maintenance of solar systems. (804)876-2006 and savingwithsolar@hotmail.com</p>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/alumni_photos/KKhamis2.jpg' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Khalid Khamis</h2>
                <p>Stack & Strike, Inc.</p>
                <p>Building a new sport, and creating a new way of having fun! (804)503-1822 and stackandstrick@gmail.com</p>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/alumni_photos/DPastran5.jpg' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>David Pastran</h2>
                <p>River City Upholstery</p>
                <p>We restore antique furniture and automotive upholstery so you can rest easy. (804)297-8462 and davidp@rcupholstery.com</p>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/alumni_photos/BRichardson2.jpg' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Bernie Richardson</h2>
                <p>Bernie’s Baked Goods</p>
                <p>If you’re looking for some sweet satisfaction, call Bernie’s Baked Goods and place an order! Featuring Mississippi Mud Cake, 7-Up Cheese Cake Bars, Sweet Potato Cookie Bars, Gingersnaps, cakes, pies, cookies, breads, and pastries. Remember Bernie’s for your special occasion: weddings, birthdays, parties, social gatherings, or any occasion. ServSafe certified and DBE Certified! (804)301-9712 and www.berniesbakedgoods.com </p>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/alumni_photos/ISamuels3.jpg' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Irish Samuels </h2>
                <p>Sam’s Stitch & Sew</p>
                <p>Customized, hand sewn clothing and other unique designs (804)405-0738 and https://www.facebook.com/irish-samuels/</p>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/alumni_photos/KWilliams1.jpg' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Kevin Williams</h2>
                <p>Build a Wreck</p>
                <p>We buy wrecked automobiles, restore them to factory specifications. It’s the used, used car you can purchase for less. (804)801-9771</p>
            </div>
        </div>
    </div>

    <p class="text-center">We love celebrating our alumni! If you want to be highlighted on this page reach out to the team via email.</p>
</section>
{% endblock %}