{% extends "opentrellisFront/base.html" %}
{% block title %}Open Trellis - Culvtivating Businesses that Improve Communities{% endblock %}
{% load static %}

{% block content %}
<main>

    <section id="introduction">
        <h1 class="title">Open Trellis</h1>
        <p>... helping people cultivate new businesses</p>
        <div id="link-button-area">
            <a href="#challenges" class="link-buttons">Learn More</a>
            <a href="#get-involved" class="link-buttons">Get Involved</a>
        </div>

    </section>
    <section class="content">
        <section id="challenges">
            <div class="card-container">
                <div class="card">
                    <img src="{% static 'img/challenge_cards/sapling1outof20.svg' %}" alt="" width="200" class="card-icon">
                    <h1 class="card-title">Challenge #1</h1>
                    <h2 class="card-subinfo">Less than 5% of new business raise outisde equity investment</h2>
                </div>
                <div class="card">
                    <img src="{% static 'img/challenge_cards/clock1outof4.svg' %}" alt="" width="200" class="card-icon">
                    <h1 class="card-title">Challenge #2</h1>
                    <h2 class="card-subinfo">Only 25% of businesses survive 15 years or more</h2>
                </div>
                <div class="card">
                    <img src="{% static 'img/challenge_cards/everybody.svg' %}" alt="" width="200" class="card-icon">
                    <h1 class="card-title">Challenge #3</h1>
                    <h2 class="card-subinfo">100% of new businesses need new customers</h2>
                </div>
            </div>
            <h1 class="challenge-statement">It’s difficult to test an idea, get new customers, and find credible answers to your questions. A
                lot of people have advice, and some of them have never owned a business. It’s hard to
                manage everything that needs to be done each day, while wondering “is this right?”</h1>
                
            <h1>We Help Them Cultivate Seeds</h1>
        </section>
        <section id="seeds">
            <div class="seed-container">
                <div class="seed-column">
                    <div class="seed-card">
                        <h1>Get Good Answers</h1>
                    </div>
                    <div class="seed-card">
                        <h1>Access Capital</h1>
                    </div>
                </div> 
                <div class="seed-column">
                    <div class="seed-card">
                        <h1>Find Consumers</h1>
                    </div>
                    <div class="seed-card">
                        <h1>Manage Complexity</h1>
                    </div>
                </div> 
            </div>
        </section>
    </section>
    <section id="footer-space"></section>

</main>
{% endblock %}