{% extends "opentrellisFront/base.html" %}
{% block title %}Open Trellis - Culvtivating Businesses that Improve Communities{% endblock %}
{% load static %}

{% block content %}
<div class="content">
    <section id="introduction">
        <h1>Open Trellis</h1>
    </section>
    <h1>This is content</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies condimentum porta. 
Suspendisse sem enim, fermentum et mollis quis, finibus vel justo. Mauris finibus, justo 
nec lacinia molestie, massa quam iaculis arcu, sit amet laoreet erat quam ut sem. Morbi 
varius leo mi, quis aliquam urna fringilla a. Vivamus sit amet euismod mi, eget ultricies 
tellus. In scelerisque mauris sed diam sodales, tempor fermentum libero viverra. Nunc 
facilisis orci ac dolor lobortis, quis molestie tellus iaculis. Morbi efficitur magna eget 
suscipit vulputate. Etiam in erat maximus, mattis risus sit amet, commodo dui. Nunc maximus 
hendrerit nisl, non convallis enim sodales sed. Aliquam in hendrerit metus. 
    </p>
</div>
{% endblock %}
