{% extends "opentrellisFront/base.html" %}
{% block title %}Open Trellis - Culvtivating Businesses that Improve Communities{% endblock %}
{% load static %}

{% block content %}
<main>

    <section id="introduction">
        <h1 class="title">Open Trellis</h1>
        <p>... helping people cultivate new businesses</p>
        <div id="link-button-area">
            <a href="#learning" class="link-buttons">Learn More</a>
            <a href="#get-involved" class="link-buttons">Get Involved</a>
        </div>

    </section>
    <section id="learning">
        <h1 style="padding-top: 300px">Learning</h1>
    </section>
    <section id="lending"></section>
    <section id="investing"></section>

</main>
{% endblock %}