{% extends "opentrellisFront/base.html" %}
{% block title %}Trellis - Founding{% endblock %}
{% load static %}
{% block content%}
<section id="investing-intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="brand-green">Investing for Founders</h2>
                <h3 class="rem-1-5">We have a lot of long-term ocnsiderations, and it's all on our shoulders. Retirement, education expenses, succession planning, long-term care, and estate planning are topics that arise for us all. We advise founders interested in preserving their assets, providing protection for their family and planning for their future.</h3>
            </div>
        </div>
    </div>
</section>

<section id="who-we-help" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="brand-green">Who We Help</h2>
                <p>When we’re establishing a new business we have a range of questions about how to manage the funds that we have already accumulated, and how to best balance our future needs with the current needs of the business. Financial planning tailored for founders:</p>
                <ul>
                    <li>401k rollovers when a founder is starting a business as a second career</li>
                    <li>Investing the proceeds from the sale of a business</li>
                    <li>Founders establishing benefit plans for themselves and their employees</li>
                    <li>Inventors licensing new products</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="founders-first">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="brand-green">Founders First</h2>
                <p>We cultivate strong relationships because we put the founder first. We develop customized investment portfolios so founders mitigate risk and diversify investable assets outside of the core business. We balance portfolios to help founders safely gain exposure across equities and fixed income asset classes, thus providing the security of liquidity. We also assist in simplifying and minimizing transaction costs, while also benefiting from leading international allocation algorithms.</p>
                <p>Through our partnership with Barrett Capital Management, we provide access to a leading Registered Investment Adviser (RIA) with over $70 million in Assets Under Management. Our wealth management services include:</p>
                <ul>
                    <li>Tax deferred investment vehicles such as IRAs, SEP IRAs, and SIMPLE IRAs</li>
                    <li>Brokerage accounts</li>
                    <li>Trust accounts</li>
                    <li>Charitable accounts</li>
                    <li>Incorporated accounts</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="insurance" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="brand-green">Insurance</h2>
                <p>We understand the importance of protecting ourselves against unnecessary risk. We assist fellow founders in access a range of insurance markets:</p>
                <ul>
                    <li>Term and whole life insurance</li>
                    <li>Buy-sell agreements</li>
                    <li>Key person insurance</li>
                    <li>Long-term care policies</li>
                    <li>Supplemental health insurance</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="investing-contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="brand-green">Contact Us</h2>
            </div>
        </div>
    </div>
</section>

{% endblock %}