{% extends "opentrellisFront/base.html" %}
{% block title %}Trellis - Invest{% endblock %}
{% load static %}
{% block content%}
<section id="investing-intro" class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="brand-green poppins-bold pb-2">Investing for Founders</h2>
                <h3 class="rem-1-5 pb-3">We have a lot of long-term considerations, and it's all on our shoulders.</h3>
                <div class="img-container">
                    <img src="{% static 'img/vector_art/Investing_fatherhood_7i19.svg' %}" alt="an image" height="100%" width="100%">
                </div>
                <br>
                <p>Retirement, education expenses, succession planning, long-term care, and estate planning are topics that arise for us all. We advise founders interested in preserving their assets, providing protection for their family and planning for their future.</p>
                <br>

                <h2 class="brand-orange poppins-bold rem-1-5">Who We Help</h2>
                <p>When we’re establishing a new business we have a range of questions about how to manage the funds that we have already accumulated, and how to best balance our future needs with the current needs of the business. Financial planning tailored for founders:</p>
                <ul>
                    <li>401k rollovers when a founder is starting a business as a second career</li>
                    <li>Investing the proceeds from the sale of a business</li>
                    <li>Founders establishing benefit plans for themselves and their employees</li>
                    <li>Inventors licensing new products</li>
                </ul>
                <br>

                <h2 class="brand-orange poppins-bold rem-1-5">Founders First</h2>
                <p>We cultivate strong relationships because we put the founder first. We develop customized investment portfolios so founders mitigate risk and diversify investable assets outside of the core business. We balance portfolios to help founders safely gain exposure across equities and fixed income asset classes, thus providing the security of liquidity. We also assist in simplifying and minimizing transaction costs, while also benefiting from leading international allocation algorithms.</p>
                <p>Through our partnership with Barrett Capital Management, we provide access to a leading Registered Investment Adviser (RIA) with over $70 million in Assets Under Management. Our wealth management services include:</p>
                <ul>
                    <li>Tax deferred investment vehicles such as IRAs, SEP IRAs, and SIMPLE IRAs</li>
                    <li>Brokerage accounts</li>
                    <li>Trust accounts</li>
                    <li>Charitable accounts</li>
                    <li>Incorporated accounts</li>
                </ul>
                <br>

                <h2 class="brand-orange poppins-bold rem-1-5">Insurance</h2>
                <p>We understand the importance of protecting ourselves against unnecessary risk. We assist fellow founders in access a range of insurance markets:</p>
                <ul>
                    <li>Term and whole life insurance</li>
                    <li>Buy-sell agreements</li>
                    <li>Key person insurance</li>
                    <li>Long-term care policies</li>
                    <li>Supplemental health insurance</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="bg-light nt-section py-5">
    <div class="col-lg-8 mx-auto d-flex justify-content-center text-center py-3">
        <h3 class="rem-1-5">Diversify your investments in a range of asset classes and protect your future </h3>
    </div>

    <div class="d-flex justify-content-center py-3 mx-3">
        <!-- Show this link instead on sm screens --> <a href="https://forms.gle/kdb7WSJB9XsQy1Vv5" target="_blank" class="btn btn-lg btn-brand-green d-sm-block d-md-none">Start the investing application</a>
        <a class="btn btn-lg btn-brand-green d-none d-md-block" data-toggle="collapse" href="#application" role="button" aria-expanded="false" aria-controls="collapseExample">
            Start the investing application
          </a>
    </div>
    <div class="container mx-auto collapse mt-5" id="application">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <center>
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeoFldo7dkW85Y7gkPu0o8ezRU-vBSCt_E2BWLxLpAYiNIAow/viewform?embedded=true" width="640" height="1320" scrolling="no" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                </center>
            </div>
        </div>
    </div>
</section>

{% endblock %}