{% extends "opentrellisFront/base.html" %}
{% block title %}Document{% endblock %}
{% load static %}
{% block content%}
<section id="online">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="brand-green">Learning</h2>
                <h3 class="subhead-15">Business founders are continuously gathering new information, testing assumptions, making adjustments and measuring results. It can be difficult to get straightforward answers to our questions. So, we’ve developed ways to collaborate with one another, to help cultivate each other’s businesses, and to learn from each other.</h3>
            </div>
        </div>
    </div>
</section>

<section id="richmond" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="brand-green">Richmond, Virginia</h2>
                <p>RVA Works has helped over 250 entrepreneurs present their businesses, and has built a community of over 6,000 founders and those supporting them. By assisting in the organization of our Richmond community of 1 Million Cups, we provide an inclusive learning environment for founders to learn from each other, to present their business (no pitches), to generate feedback, and for audience members to build local connections.</p>
                <p>Through our core acceleration program, we have assisted business owners starting or formalizing their business:</p>
                <ul>
                    <li>124 Founders have entered the core training program</li>
                    <li>Two-thirds of graduates start their business</li>
                    <li>38% - The average annual income increase for graduates who launched their business*</li>
                    <small class="text-muted">*Past performance is not a guarantee of future results</small>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="results">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="brand-green">Results</h2>
                <p>RVA Works has helped over 250 entrepreneurs present their businesses, and ahs built a community of over 6,000 founders and those supporting them. together we have assisted new business owners completing our core educational program in Richmond, Virginia:</p>
                <ul>
                    <li class="pb-4">112 Participants have enetered the core training program
                        <ul>
                            <li>70% are women founders, 95% are ethinic minorities</li>
                            <li>58% are from ver low, low, and moderate income households</li>
                        </ul>
                    </li>
                    <li class="pb-4">77 Program graduates, or 75% of participants complete the program
                        <ul>
                            <li>64% of graduates launch a new business</li>
                            <li>27% of graduates expect to launch in the next six months</li>
                            <li>24 new part-time jobs</li>
                            <li>31 new full-time jobs</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="consulting" class="bg-light">
     <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="brand-green">Consulting</h2>
                <p>Our team represents a range of functional disciplines in business strategy, finance, technology and economic development. Having worked across five continents, we have assisted hundreds of new and small business owners, and regularly add to our team of entrepreneurs. For those small business owners, corporate executives and economic development professionals, seeking pont expertise, we provide intensive consulting projects.</p>
                <ul>
                    <li>Lean canvas</li>
                    <li>Design Thinking</li>
                    <li>Financial Valuation</li>
                    <li>Risk Modeling</li>
                    <li>IT Shared Services</li>
                    <li>Ecosystem Evaluation & Development</li>
                    <li>Corporate Intrapreneurship</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="application">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="brand-green">Application</h2>
                <p>Interested in:</p>
                <ul>
                    <li>Applying to an online course</li>
                    <li>One-on-one new business coaching</li>
                    <li>Growing my small business through a consulting project</li>
                    <li>Cultivating a community of local founders in my area</li>
                </ul>
            </div>
        </div>
    </div>

</section>
{% endblock %}