{% extends "opentrellisFront/base.html" %}
{% block title %}Document{% endblock %}
{% load static %}
{% block content%}
<section id="online">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="brand-green">Learning</h2>
                <h3>Our cohort-based approach to new business skills provides leading instruction on testing the market for your product or service, getting organized, and financing the business</h3>
            </div>
        </div>
    </div>
</section>

<section id="richmond" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="brand-green">Richmond, Virginia</h2>
                <p>RVA Works is our small business develpment network providing classroom instruction, referrals, promotional assistance, pro bono professional services, and out Alumni Forum for peer support</p>
                <p>We are also pleased to help organize 1 Million Cups Richmod, a national program of the Ewing Marion Kauffman Foundation. Held in over 150 communities, this educational forum prioritized inclusion and keeps all entrepreneurs connect with one another, present their business (no pitches please), receive feedback, and cultivate startup community.</p>
            </div>
        </div>
    </div>
</section>

<section id="results">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="brand-green">Results</h2>
                <p>RVA Works has helped over 250 entrepreneurs present their businesses, and ahs built a community of over 6,000 founders and those supporting them. together we have assisted new business owners completing our core educational program in Richmond, Virginia:</p>
                <ul>
                    <li class="pb-4">112 Participants have enetered the core training program
                        <ul>
                            <li>70% are women founders, 95% are ethinic minorities</li>
                            <li>58% are from ver low, low, and moderate income households</li>
                        </ul>
                    </li>
                    <li class="pb-4">77 Program graduates, or 75% of participants complete the program
                        <ul>
                            <li>64% of graduates launch a new business</li>
                            <li>27% of graduates expect to launch in the next six months</li>
                            <li>24 new part-time jobs</li>
                            <li>31 new full-time jobs</li>
                        </ul>
                    </li>
                    <li>38% - The average annual income increase for graduates who laucnhed their business</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="consulting" class="bg-light">
     <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="brand-green">Consulting</h2>
                <p>Open Trellis provides a range of consulting services for small businesses, and those building supportive ecosystesm. This work includes:</p>
                <ul>
                    <li>Lean canvas</li>
                    <li>Design Thinking</li>
                    <li>Financial Valuation</li>
                    <li>Risk Modeling</li>
                    <li>IT Shared Services</li>
                    <li>Ecosystem Evaluation & Development</li>
                    <li>Corporate Intrapreneurship</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}