{% extends "opentrellisFront/base.html" %}
{% block title %}Trellis - Investing{% endblock %}
{% load static %}
{% block content%}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="brand-green poppins-bold">Capital for Small Business</h2>
                <h3 class="rem-1-5">As founders we require capital to operate. The best form of capital is a sale, and nothing replaces profitable sales, but there are supplementary sources of capital that are necessary to help a business grow. From the personal capacity of the founder to their commercial loan officer, and from crowdfunding to revenue share agreements, the array of products can be daunting. For some teams angel investors and venture capitalists provide a viable route for equity-based funding.</h3>
                <h3 class="rem-1-5">Opportunity Zones and other under-invested areas, as well as lower income founders, require unique mechanisms to provide adequate funding. Microfinance institutions, community development banks, credit unions and public sector incentives, all play a role in catalyzing this vital capital flow.</h3>
            </div>
        </div>
    </div>
</section>

<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="brand-green poppins-bold">The Funding Challenge</h2>
                <p>It’s difficult to raise capital, and particularly for founders facing economic, geographic and demographic barriers to access. We work directly with small business founders, seeking debt-based finance. We have walked this journey ourselves funding businesses, and speaking with myriad bankers and investors. The challenges can be daunting:</p>
                <ul>
                    <li>Needing credible answers to our questions, and trusting the answer</li>
                    <li>Not knowing where to go for help, and feeling isolated</li>
                    <li>Not understanding the financial tools, or when to approach different people</li>
                    <li>Learning everything on on the fly, and doing it all ourselves</li>
                    <li>Trying to develop sales without perfect marketing, and getting overwhelmed</li>
                    <li>Needing sales and savings before a banker is interested</li>
                    <li>Getting rejected from finance institutions</li>
                    <li>Being overwhelmed</li>
                </ul>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="brand-green poppins-bold">Our Services</h2>
                <p>We get it. There’s a lot to learn, and a lot of people with whom we all need to connect – potential customers, other founders, suppliers, advisors and mentors. Open Trellis provides an online community of peer founders, and we provide opportunities to learn the core skills required to be a small business owner. We supplement this content, coaching and connections with our capital access program.</p>
                <ul>
                    <li>Referrals to crowd-funding opportunities for startup loans</li>
                    <li>Financial skill builders and mentors</li>
                    <li>Term loans for small business founders</li>
                </ul>
                <p>There are many founders who have established a small business, generated sales, and then require finance for expansion. We fill the gap for those businesses that may have used a microlender or personal funds, but are not yet ready for a conventional bank.</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container mx-auto">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <center>
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSelCqhbojA7tUl1KGXXUHSC8wvi45fAQnzwinUoUn0id20XeQ/viewform?embedded=true" width="640" height="3865" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                </center>
            </div>
        </div>
    </div>
</section>

{% endblock %}