{% extends "opentrellisFront/base.html" %}
{% block title %}Trellis - Meet The Team{% endblock %}
{% load static %}
{% block content%}

<section id="profile">
    <div class="container pb-5">
        <div class="row align-items-center">
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="section-title brand-green">Meet The Team</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/team_photos/sombo_chunda.jpg' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Sombo Chunda, MBA, FCCA</h2>
                <p class="brand-orange poppins-bold rem-1-5">Advisor – Academic Research & Public Policy</p>
                <p>Ms. Chunda is an alumna of the University of Oxford-Saïd Business School’s Oxford Impact Investing Programme, and is currently a Ph.D. candidate in the. L. Douglas Wilder School of Government and Public Affairs at Virginia Commonwealth University (VCU). She is a fellow of the Association of Chartered Certified Accountants (ACCA). Her research interests include entrepreneurship as a tool for economic well-being, African diaspora, and fiscal transparency.</p>
                <p>Originally from Zambia, she has served on various boards of directors including a bi-nation board where she was seconded by the Government of the Republic of Zambia. In Africa, Ms. Chunda served as the country director the Swedish international nonprofit, Diakonia. She raised $2.5 million to continue their work in Zambia, and received several awards, including: the Walter W. Mode scholarship for a distinguished record of public service at international level by the American Society for Public Administration (ASPA); the Mandela Washington Fellowship program; graduate diversity award recipient from the Association for Research on Nonprofit Organizations and Voluntary Action (ARNOVA), and the Women Leading Change Programme. MBA from Edinburgh Business School, Heriot Watt University, Scotland.</p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/team_photos/maggie_cox.jpg' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Maggie Cox</h2>
                <p class="brand-orange poppins-bold rem-1-5">Project Lead – Digital Marketing</p>
                <p>Since June 2020 Ms. Cox has served in an internship role, leading he enhancements of the founder curriculum and the preparation for online course delivery. She is majoring in Business management with a concentration in Entrepreneurship, and is pursuing a minor in German, at James Madison University. Originally from Richmond, Virginia, she has now taken up residence in Harrisonburg, Virginia. She is motivated by her faith and a passion for making a difference in others’ lives. Her spirit for entrepreneurship stems from her desire to become an entrepreneur herself, and to help others achieve their goal of business ownership.  </p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/team_photos/charletta_darville.png' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Charletta Darville, MBA</h2>
                <p class="brand-orange poppins-bold rem-1-5">Board Director & Program Alumna</p>
                <p>Ms. Darville is the founder of Community Aid, LLC, a DMAS approved provider that assists families in receiving disability-related services. As a family owned business, their goal is to build healthier lives by creating a more informed public; and the business was “born out of the need in our hearts to help other families.” Community Aid helps families achieve a better quality of life through education, training, and other case-specific resources.</p>
                <p>Originally from New York, Charletta relocated to Virginia to attend Virginia Union University, where she received a Bachelor of Arts in English, and she holds an MBA from Averett University. She and her husband have resided in Glen Allen, Virgina for 25 years, and after the arrival of her daughter, she decided to fulfill her love of helping other families impacted by disability. </p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/team_photos/charolette_davis.png' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Charolette Davis</h2>
                <p class="brand-orange poppins-bold rem-1-5">Board Director & Program Alumna</p>
                <p>Charolette Davis is the founder of Lyfestyle Mobile. Ms. Davis has 15 year’s experience  as a designer, serving in a range of roles with Dominion Energy, Draper Aden Associates, Willbros Engineers, M.C. Dean,  Verizon and T-Mobile. She holds multiple industrial design certifications in 5G, electric distribution, electricity, utilities, architecture, construction & project management. Ms. Davis currently designs underground internet cable systems with KCI Technologies.</p>
                <p>Lyfestyle Mobile drives social impact within minority communities by focusing on education, health and wellness, culture, and entrepreneurship. Ms. Davis transforms community culture with passion, talents and skills that help others mobilize their business.  Her vision is the achievement of healthier working and living conditions for lower income communities. She believes that one’s mobility is a vital aspect of social impact.</p>
                <p>She has future plans to build sustainable communities and work environments that adapt to residents’ needs. She passionate about providing minorities more opportunities in business with practical skills that promote healthy growth.</p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/team_photos/joanna_duggan.png' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Joanna Duggan</h2>
                <p class="brand-orange poppins-bold rem-1-5">Entrepreneur Mentor</p>
                <p>At 76, having been employed since the age of 16, and self-employed for in various small businesses, Ms. Duggan has learned that being a successful entrepreneur is about resiliency, courage, integrity, imagination, creativity, hard work, and intelligence. </p>
                <p>She opened a fabrication shop in 1986, and was involved in all aspects of daily decision making. The company specialized in custom acrylic countertops and commercial projects. The business grew and adapted over 10 years; and it was profitable and respected by both customers and competitors.</p>
                <p>In 1995, she sold that business to start SOLIDSURFACE, a trade magazine about the acrylic fabrication business. Many good decisions were made up front, and the magazine was an enormous success. It was loved by the industry and they supported it fully. She became president and publisher in 1997. When she exited this business in 2007, SOLIDSURFACE had subscribers in 54 foreign countries, and had been sold to a large publishing house.</p>
                <p>In “retirement,” Joanna took a job with Bath Fitter as an Outside Event Representative. Theirs is an acrylic product, and a perfect fit for her background. She enjoyed the chance to perfect her sales technique, and achieved ‘Top 10’ sales status out of 1000+ representatives in 15 states.</p>
                <p>She has been a Richmond-based volunteer since 2015, helping new businesses owners develop and succeed. According to Ms. Duggan, “Making money in any business is complicated, and there often is a big learning curve. The ability to identify and get to the root of a problem, and to then solve it, is one of keys to success.” Ms. Duggan is passionate about helping small business owners who are willing to put in the effort.</p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/team_photos/dale_fickett.jpg' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Dale Fickett, MBA, IAR</h2>
                <p class="brand-orange poppins-bold rem-1-5">Chief Executive Officer</p>
                <p>Dale Fickett is a co-founder of Open Trellis, and the RVA Works initiative in Richmond, Virginia. He holds overall responsibility for the organization’s pursuit of its mission to help more people become business owners. Through the support of over 50 program sponsors and volunteers, Open Trellis provides education, technology, capital and consulting. </p>
                <p>Fickett has previously worked in Capital Markets and Transactions Banking during his tenure with Accenture. As a senior strategy consultant, based in Dublin and London, he developed new client relationships, led strategic planning, and IT transformation programs in multinational banks. In the areas of developmental economics, impact investing, and social entrepreneurship, Fickett has lectured and conducted related research at Trinity College Dublin, The Wharton School - University of Pennsylvania, Virginia Commonwealth University, and Northwestern University.</p>
                <p>He has authored "Faith & Sustainable Economic Development," “Towards a More Just Economy” and co-authored both “Developmental Entrepreneurship in Sub-Saharan Africa: Assessing Financial and Social Returns” and "RVA Works - Empowering Entrepreneurs for Big Change." He served in economic advisory roles on the Governor's Social Enterprise and Impact Investing Working Group (Virginia), the U.S. Senate Small Business Productivity Award Panel, the Virginia Business Incubation Association, and the Virginia Catholic Conference.</p>
                <p>Fickett also serves as Chairman of the Haiti Committee - a humanitarian mission of the Catholic Church, providing microloans, education and health care in Carissade, Haiti. An entrepreneur at heart, earlier in his career he launched a venture in the retail chocolate industry. He holds an MBA magna cum laude, Villanova University, and a BSBA cum laude, LaSalle University. He is also holds a Series 65 securities license in the Commonwealth of Virginia, and serves as a Registered Investment Adviser (RIA).</p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/team_photos/richard_grossberg.jpg' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Richard Grossberg</h2>
                <p class="brand-orange poppins-bold rem-1-5">Entrepreneur Mentor</p>
                <p>Richard Grossberg received his Bachelor of Architecture from University of Virginia in 1975. From 1976 to 1979 he practiced architecture in New York City. In 1980 he moved with his spouse, also a UVA grad, to Richmond, Virginia where he founded Archadeck. Mr. Grossberg sold the business in 2008 after opening 80 franchised offices in 5 countries.</p>
                <p>Since selling Archadeck Mr. Grossberg has been involved in a variety of entrepreneurial ventures which include – founding a farm to table produce distribution business, developed two pediatric after hours clinics, mentored for RVA Works, Startup VA, Lighthouse Labs, and Score. He was Chairman of the Education Committee for Cav Angels an angel fund for UVA alumni, staff, and faculty. He coached a variety of startup entrepreneurs in businesses which have included technology, agriculture, construction, franchising, landscaping,  restaurant service technology, medical technology, 3D printing, and more.</p>
                <p>Mr. Grossberg has served on numerous boards,including: Genetics Policy Institute, now called the Regenerative Medicine Foundation, The VCU Department of Pediatric advisory committee, Pediatric Alliance – an IPA, Anderson Windows, and others.</p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/team_photos/michael_kahwajy-hyland.png' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Michael Kahwajy-Hyland</h2>
                <p class="brand-orange poppins-bold rem-1-5">Project Lead – Resilience Campaign</p>
                <p>Michael Kahwajy-Hyland leads the Resilience Campaign, a small business philanthropic project in  partnership with RVA Works. He is a self described "Significance Architect" – his mission is to combat unintentional insincerity and guide people to create more meaning and significance in their lives. Mr. Kahwajy-Hyland has always been known to take a unique approach to solving problems and achieving goals, so entrepreneurship is a natural fit.</p>
                <p>As a Richmond-based entrepreneur, he leads three brands which are reflections of his “mission of meaning”. His main brand is a luxury writing instrument company, Turning Point Pen Co., where he commemorates and represents the most special parts of life through artisan writing instruments. Their work has proven to stand out as significant personal or strategic business gifts as well as milestone commemorations. He also has a cultural Lebanese dance brand, MKH Dabke Entertainment, where Michael performs, choreographs, and teaches Lebanese dance across the East Coast.</p>
                <p>Since COVID hit the US, his most recent endeavor, in partnership with RVA Works, is the Resilience Campaign. This relief campaign provides struggling small business owners with grants and business resources to inspire them to survive and thrive during this crisis period. </p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/team_photos/imani_mustaf.png' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Imani Mustaf</h2>
                <p class="brand-orange poppins-bold rem-1-5">Project Lead – Social Media</p>
                <p>Ms. Mustaf is an undergraduate student at the University of Richmond, pursuing a Bachelor of Arts degree in PPEL – Philosophy, Politics, Economics & Law. Ms. Mustaf is also pursuing a second major in the study of leadership, as well as a minor in gender and sexuality studies. As a member of the Woman’s Basketball Team, she attained the “high team” grade average in 2018.</p>
                <p>Ms. Mustaf is passionate about social media and public relations, having served in a production role with University of Richmond, covering videography, photography, social media management, broadcast operations, event coordination and graphic design. She is also a strong community advocate, with experience assisting Richmond senior citizens and efforts towards prison reform.</p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/team_photos/gopa_nair.png' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Gopa Nair, MBA</h2>
                <p class="brand-orange poppins-bold rem-1-5">Project Lead – Consulting Services</p>
                <p>Mr. Nair has over 25 years’ experience in strategy, product development, process automation, culture transformation and entrepreneur development. He has served in a range of leadership roles with Capital One and Deloitte Consulting, and is currently is a Product Owner for Kinsale Insurance.</p>
                <p>His expertise includes Design Thinking, Agile and Lean methodologies, Human Interactions, and the science and the art of Human Behavior. His goal is to help create a world where people thrive and create value for their customers.</p>
                <p>Mr. Nair facilitates entrepreneur training courses, and develops new content at Open Trellis. Gopa is also a mentor for the online Design Thinking program of Darden School of Business.</p>
                <p>Gopa has a MBA from Penn State University  and Bachelors in Mechanical Engineering from TKM College of Engineering-University of Kerala, India.</p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/team_photos/swati_sachan.png' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Swati Sachan, Ph.D</h2>
                <p class="brand-orange poppins-bold rem-1-5">Advisor – Academic Research & Explainable Artificial Intelligence</p>
                <p>Dr. Sachan is the lead researcher of “An explainable AI decision-support-system to automate loan underwriting” (2019), and a research associate at Alliance Manchester Business School. Her research is focused on the development of explainable AI and machine learning models to automate decision making. She designs packages in Python to enable industrial research partners to use AI-based tools to automate decision making in finance, insurance, law, and healthcare. Her research interest includes Belief Rule-Based, Evidence reasoning, Petri-nets, explainability of Deep Neural Network and Non-linear Constrained Optimization.</p>
                <p>Dr. Sachan graduated with a Masters in Operational Research in Finance from the University of Edinburgh in 2011. She did her Masters dissertation on econometric modeling with Shell Royal Dutch and then worked as a statistician in School of Mathematics, the University of Edinburgh (2012). She completed her Ph.D. in Operational Research and Applied Statistics from Glasgow Caledonian University in 2016. After completing her Ph.D., she joined the University of Nottingham as a Research Fellow, where she worked on Innovative Intelligent Rail (In2Rail) project funded by European Commission. This project was coordinated by Network Rail (UK), and SNCF (French National Railway Company).</p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/team_photos/sidarta_tanu.jpg' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Sidarta Tanu</h2>
                <p class="brand-orange poppins-bold rem-1-5">Chief Risk Officer</p>
                <p>Sid Tanu is the Chief Risk Officer at Open Trellis, leading the financial services strategy for Capital Access. His efforts are focused on product development, risk modeling, and the optimization of small business loan portfolios. With an extensive background in loan origination and underwriting, Sid has held senior executive positions with Capital One, IRi Worldwide Consulting, MinTech and EnrichHER. He specializes in unsecured debt for new and small business owners, and is himself an entrepreneur and graduate of Techstars, an international startup accelerator.</p>
                <p>Mr. Tanu’s financial services career has included retail and commercial banking, payments, asset management, analytics and risk management. As a community development advocate, he has led numerous initiatives in financial literacy and startup ecosystem inclusion. He has served as a mentor and organizer with Junior Achievement, Techstars, Startup VA, Lighthouse Labs, and 1 Million Cups. </p>
                <p>Mr. Tanu holds a bachelor’s degree in Real Estate, Finance and Information Systems from the University of Wisconsin-Madison, and he enjoys playing tennis and discovering new music and great food.</p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/team_photos/jared_wasdin.jpg' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Jared Wasdin</h2>
                <p class="brand-orange poppins-bold rem-1-5">Chief Technology Officer</p>
                <p>Mr. Wasdin is a technologist and social entrepreneur. He loves big ideas and likes to tackle them with technology. He believes that technology is a powerful tool that touches every part of our lives, and that it must be used wisely to bring about the best in us and in society.</p>
                <p>Wasdin has worked for Fortune 100 companies including Siemens, Capital One, and Amazon. He interned in Asia supporting a World Bank project to introduce new tech industries In the Himalayas and volunteered to assist children with severe physical disabilities.</p>
                <p>As a co-founder of RVA Works, he helped launch a Richmond-based entrepreneurial education program using business formation to address urban poverty. Currently, he leads the development of Open Trellis, a suite of digital tools to support small business formation.</p>
                <p>His day job is to accelerate the performance of software development teams and he spends a good deal of his time translating tech talk into actual words. While technology is a big part of his world, He loves to hear people’s stories, to see them thrive, and help them meet their God given potential. </p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/team_photos/rick_wildes.jpg' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Rick Wildes, CPA</h2>
                <p class="brand-orange poppins-bold rem-1-5">Board Treasurer</p>
                <p>Rick Wildes, CPA is the Managing Member of Rick Wildes & Company, PLLC since 1997. He serves small and medium sized business clients throughout Virginia, assisting them with tax, audit and advisory services. He has also served as auditor for the Greater Williamsburg Chamber of Commerce and Tourism Alliance, as well as a project consultant to the City of Portsmouth. He currently serves in an ongoing financial consulting role with the Virginia Museum of Fine Arts and their foundation, assisting with internal audits of accounting systems and processes.</p>
                <p>Mr. Wildes serves as the Board Treasurer, and has served in a range of roles since the organization’s inception. He offers pro bono assistance across a range of accounting and compliance matters. Wildes led the project to achieve tax-exempt status in 2014, and served as an independent auditor in FY 2014-15 and FY 2015-16. He subsequently joined the Board of Directors as Treasurer, when the opportunity arose in January 2016. He provides ongoing accounting and consulting services to many founders through his role at RVA Works, through the Cathedral of the Sacred Heart, Richmond and through the Knights of Columbus.</p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row align-content-center">
            <div class="col-lg-4">
                <img src="{% static 'img/team_photos/peter_yuan.png' %}" alt="" width="250">
            </div>
            <div class="col-lg-7">
                <h2>Peter Yuan</h2>
                <p class="brand-orange poppins-bold rem-1-5">Project Lead – Software Development</p>
                <p>Mr. Yuan is a student in the dual enrollment program at Arlington Tech – Advanced High School Diploma and Northern Virginia Community College. He develops the public website for Open Trellis, and new product development for the founders’ framework on Django. </p>
                <p>Through a rigorous project-based curriculum, Mr. Yuan has gained experience in web design, database design, programming, and digital animation. He has gained project experience with Ingredient Guru, Home Library of Congress and SchoolNEXT. His technology skills, include: Python, Java, Perl6/Raku, SQLite, PostGRESQL, HTML, CSS, Javascript, Photoshop, Illustrator, Gimp, Inkscape, Linux Sysadmin,and PC Builder.</p>
            </div>
        </div>
    </div>

</section>
{% endblock %}