{% extends "opentrellisFront/base.html" %}
{% block title %}Document{% endblock %}
{% load static %}
{% block content%}
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="section-title brand-green">Meet The Team</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="{% static 'img/team_photos/sombo_chunda.jpg' %}" alt="">
            </div>
            <div class="col-lg-6">
                <h2>Sombo Chunda, MBA, FCCA</h2>

            </div>
        </div>
    </div>
</section>
{% endblock %}