{% load static %}

<!-- Footer -->
<footer class="font-small unique-color-dark bg-light">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="font-weight-bold">RVA Works</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="font-weight-bold">Products</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Learning</a>
        </p>
        <p>
          <a href="#!">Lending</a>
        </p>
        <p>
          <a href="#!">Investing</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="font-weight-bold">About</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">About Us</a>
        </p>
        <p>
          <a href="#!">Meet the Team</a>
        </p>
        <p>
          <a href="#!">Legal Information</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="font-weight-bold">Follow Open Trellis</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="https://twitter.com/RVAWorks"><i class="fa fa-twitter mr-2"></i> Twitter</a>
        </p>
        <p>
          <a href="https://www.facebook.com/RVAWorks"><i class="fa fa-facebook mr-3"></i> Facebook</a>
        </p>
        <p>
          <a href="https://www.instagram.com/rvaworks/"><i class="fa fa-instagram mr-3"></i>Instagram</a>
        </p>
        <p>
          <a href="https://www.meetup.com/1mcrva/"><i class="fa fa-meetup mr-2"></i> Meetup</a>
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
      <p class="m-0 text-center text-dark">©Open Trellis, RVA Works Enterprise Support. All rights reserved.</p>
  </div>
  <!-- Copyright -->