{% load static %}

<!-- Footer -->
<footer class="font-small unique-color-dark mt-auto pt-5">

  <ul class="list-unstyled list-inline text-center py-2 pb-5">
    <li class="list-inline-item">
      <h5 class="mb-2 pb-2 poppins brand-grey">Subscribe to our Newsletter</h5>
    </li>
    <li>
      <div style="width: 75%; max-width: 600px; margin:auto;">
        <!-- Begin Constant Contact Inline Form Code -->
        <div class="ctct-inline-form" style="background-color: transparent;" data-form-id="bff689a0-6aee-48e5-99f7-520c3ab2d3d7"></div>
        <!-- End Constant Contact Inline Form Code -->
      </div>
    </li>
  </ul>
</footer>

<footer class="font-small unique-color-dark bg-light pt-5 mt-auto">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <h6 class="font-weight-bold poppins brand-grey">Open Trellis</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          Our mission is to help more people become business owners. <br>
          Open Trellis is an online initiative of RVA Works Enterprise Support, a Public Charity and tax exempt non-profit organization regulated in the United States.  
        </p>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="font-weight-bold poppins brand-grey">Services</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="https://www.meetup.com/1mcrva/" target="_blank">Connect</a>
        </p>
        <p>
          <a href="/learn/">Learn</a>
        </p>
        <p>
          <a href="/borrow/">Borrow</a>
        </p>
        <p>
          <a href="/invest/">Invest</a>
        </p>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="font-weight-bold poppins brand-grey">About</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="/about/">About Us</a>
        </p>
        <p>
          <a href="/team/">Meet the Team</a>
        </p>
        <p>
          <a href="/alumni/">Meet the Alumni</a>
        </p>
        <p>
          <a href="/legal/">Legal Information</a>
        </p>
      </div>
      <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
        <h6 class="font-weight-bold poppins brand-grey">Follow Open Trellis</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="https://twitter.com/RVAWorks"><i class="fa fa-twitter mr-2"></i> Twitter</a>
        </p>
        <p>
          <a href="https://www.youtube.com/channel/UC3cwH9-66IaSg6N6omfLxoA"><i class="fab fa-youtube mr-2"></i> YouTube</a>
        </p>
        <p>
          <a href="https://www.facebook.com/RVAWorks"><i class="fa fa-facebook mr-3"></i> Facebook</a>
        </p>
        <p>
          <a href="https://www.instagram.com/rvaworks/"><i class="fa fa-instagram mr-3"></i>Instagram</a>
        </p>
        <p>
          <a href="https://www.meetup.com/1mcrva/"><i class="fa fa-meetup mr-2"></i> Meetup</a>
        </p>

      </div>


    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
      <p class="m-0 text-center text-dark">©Open Trellis, RVA Works Enterprise Support. All rights reserved.</p>
  </div>
  <!-- Copyright -->
