{% load static %}
<div id="footer">

    <div class="footer-logo">
         <img src="{% static 'img/logos/powered_by_rva.png' %}" alt="powered" class="poweredby">
         <p class="copyright">&copy;Open Trellis, RVA Works Enterprise Support. All rights reserved.</p>
    </div>

    <ul class="footer-nav">
        <li>
            <h2 class="nav-title">Explore</h2> 

            <ul class="nav-ul">
                <li><a href="/learning/">Learning</a></li>
                <li><a href="/lending/">Lending</a></li>
                <li><a href="/investing">Investing</a></li>
            </ul>
        </li>

        <li>
            <h2 class="nav-title">About</h2>

            <ul class="nav-ul">
                <li><a href="/aboutus/">About Us</a></li>
                <li><a href="/team/">Meet the Team</a></li>
                <li><a href="/legal/">Legal Information</a></li>
            </ul>
        </li>

        <li>
            <h2 class="nav-title">Follow Open Trellis</h2>

            <ul class="nav-ul">
                <li><a href="https://twitter.com/RVAWorks"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                <li><a href="https://www.facebook.com/RVAWorks"><i class="fa fa-facebook"></i> Facebook</a></li>
                <li><a href="https://www.instagram.com/rvaworks/"><i class="fa fa-instagram"></i> Instagram</a></li>
                <li><a href="https://www.meetup.com/1mcrva/"><i class="fa fa-meetup"></i> Meetup</a></li>
            </ul>
        </li>
    </ul>

</div>