{% load static %}

<nav class="navbar navbar-expand-lg navbar-light fixed-top white" id="mainNav"> <div class="container">
    <a class="navbar-left js-scroll-trigger" href="#page-top"><img src="/static/img/logos/logo-trellis.png" alt="" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-white" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <a class="nav-link js-scroll-trigger active" href="#about" onclick="navActivator(evt, 'learning')">Learning</a>
        </li>
        <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#services">Lending</a>
        </li>
        <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#contact">Investing</a>
        </li>
        <li class="nav-item">
        <button id="sun" class="theme-toggle btn" onclick="changeLogo(event, 'sun')"><i class="fas fa-sun"></i></button>
        <button id="moon" class="theme-toggle btn" onclick="changeLogo(event, 'moon')"><i class="fas fa-moon"></i></button>
        </li>
    </ul>
    </div>
</div>
</nav>
