{% load static %}

<div id="navbar">

    <!--
    <a class="logo-left" href="/">
        <img 
        src="{% static 'img/logos/opentrellis_logo_words.png' %}" 
        alt="picture not found" 
        height="40"
        >
    </a>
-->
    <a href="/learning/">Learning</a>
    <a href="/lending/">Lending</a>
    <a href="/investing/">Investing</a>
</div>

<script>
    window.onscroll = function() {myFunction()};
    
    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;
    
    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
</script>