/* sticky navbar */
header {
  height: 6vh;
  min-width: 60px;
  font-size: 24px;
}
.sticky-section {
  overflow: hidden;
  background-color: #ffffff;
  /* the space between navbar and content */
  margin-bottom: 0px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  border-bottom: 1px solid #333;
  padding-top: 2px;
}

.nav {
  text-align: right;
  float: right;
  margin-right: 14%;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.nav a {
  text-decoration: none;
  color: #333;
  font-size: 2.25vh;
  padding: 15px 20px;
  display: inline-block;
  transition: all 0.5s easer 0s;
}

.nav a:hover {
  color: #009347;
}

#logo {
  float: left;
  padding: 10px 5px;
  margin-left: 14%;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 950px) {
  #logo {
    margin-left: 1%;
  }
  .nav {
    margin-right: 0%;
  }
}


/* body */
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  position: relative;
  min-height: 100%;
  padding-bottom: 11rem;
}

.head {
  padding-top: 80px;
}

.bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
}



/* footer */
#footer {
  color: #e5e5e5;
  background-color: #333;
  display: flex;
  flex-flow: row wrap;
  padding: 20px 30px 0px 30px;
  justify-content: center;
}

.footer > * {
  flex: 1 100%;
}

#footer ul {
  list-style: none;
}

#footer li {
  line-height: 2em;
  text-align: left;
}

#footer a {
  text-decoration: none;
}

#footer a:hover {
  color: #009347;
}

.footer-logo {
  margin-top: 20px;
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.poweredby {
  height: 70px;
}

.footer-nav {
  display: flex;
  flex-flow: row;
  font-size: 16px;
}

.footer-nav > * {
  flex-grow: 1;
  margin-right: 3em;
}

.nav-title {
  font-weight: 500;
  font-size: 20px;
}

.nav-ul {
  padding-left: 0px;
}

.nav-ul a {
  color: #FFFFFF;
}

.copyright {
  font-size: 10px;
  text-align: center;
  padding-top: 6px;
  padding-left: 10px;
}

.footer-expand {
  margin: 0px 50px;
}


/* content */
main {
  /* the space between navbar and content */
  text-align: center;
  display: block;
}



/* home page */
@font-face {
  font-family: Phenomena;
  src: url(./fonts/Phenomena-Regular.otf);
}

#introduction {
  height: 94vh;
  width: 100%;
}

.title {
  padding-top: 20vh;
  font-size: 5.5vw;
  font-family: Phenomena;
  color: #009347;
}

#introduction p {
  font-size: 2.5vw;
}

#introduction a {
  border-radius: 10px;
  background-color: #00602E;
  color: #FFFFFF;
  padding: 12px 15px;
  font-weight: 400;
  box-shadow: rgba(0, 96, 46, 0.7) 0px 10px 40px -10px;
  transition-property: opacity, transform;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s, 0s;
  font-size: 1.3vh;
}

#introduction a:hover {
  background-color: #004722;
}

#link-button-area {
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
}

.link-buttons {
  margin: 5px;
}

img {
  max-width: 100%;
}

.content {
  margin: 0px 10%;
}

#challenges {
  width: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.card {
  flex: 1 1 300px;
  padding: 16px 0px 30px;
  margin: 20px 20px;
  border-radius: 10px;
  z-index: -1;
}

.card-icon {
  margin: 0 auto;
}

.card-title {
  padding: 20px 0px 10px;
}

.card-subinfo {
  padding: 0px 20px 0px;
}

.challenge-statement {
  margin: 0px 15.5%;
  padding-bottom: 100px;
}

.seed-container {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.seed-column {
  flex: 1 1 200px;
  display: flex;
}

#footer-space {
  height: 10vh;
}