/* || GENERAL STYLES */

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  padding-bottom: 11rem;
  position: relative;
}

main {
  display: block;
  margin: 0px 10%;
  text-align: center;
}

/* phenomena font */
@font-face {
  font-family: Phenomena;
  src: url(./fonts/Phenomena-Regular.otf);
}

/* || UTILITY */

.nobullets {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* || SITEWIDE */

/* navbar */

#navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #333;
  font-size: 24px;
  height: 60px;
  min-width: 60px;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  padding-top: 2px;
  top: 0px;
  width: 100%;
}

.navbar__logo {
  float: left;
  margin-left: 14%;
  padding: 10px 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.navbar__nav {
  float: right;
  margin-right: 14%;
  position: relative;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
}

.navbar__item {
  text-decoration: none;
  color: #333;
  padding: 15px 20px;
  display: inline-block;
  transition: all 0.5s easer 0s;
}

.navbar__item:hover {
  color: #009347;
}

@media only screen and (max-width: 950px) {
  #logo {
    margin-left: 1%;
  }
  .nav {
    margin-right: 0%;
  }
}

/* footer */

#footer {
  color: #e5e5e5;
  background-color: #333;
  display: flex;
  flex-flow: row wrap;
  padding: 20px 30px 15px;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.brand {
  margin-top: 20px;
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.brand__copyright {
  font-size: 10px;
  text-align: center;
  padding-top: 6px;
}

.site-nav {
  display: flex;
  flex-flow: row;
  font-size: 16px;
}

.site-nav__column {
  margin: 0px 50px;
  line-height: 2em;
  text-align: left;
  flex: 1 1 auto;
}

.site-nav__title {
  font-weight: 500;
  font-size: 20px;
}

.site-nav__list {
  padding-left: 0px;
}

.site-nav__link {
  color: #ffffff;
}

.site-nav__link:hover {
  color: #009347;
}

/* || HOME PAGE */

#introduction {
  height: 94vh;
  width: 100%;
}

.title {
  padding-top: 20vh;
  font-size: 5.5vw;
  font-family: Phenomena;
  color: #009347;
}

#introduction p {
  font-size: 2vw;
  padding: 0px 450px;
}

#introduction a {
  border-radius: 5px;
  background-color: #00602e;
  color: #ffffff;
  padding: 12px 15px;
  font-weight: 400;
  box-shadow: rgba(0, 96, 46, 0.7) 0px 10px 40px -10px;
  font-size: 1.3vh;
}

#introduction a:hover {
  background-color: #004722;
}

#link-button-area {
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
}

.link-buttons {
  margin: 5px;
}




@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 100%;
    transform: translateZ(0);
  }
}

#tabs {
  padding: 50px;
}

#footer-space {
  height: 100vh;
}


/* tabs */

.tab {
  overflow: hidden;
}

.tabContent {
  display: none;
  animation: fadein 1s;
}

.tab button {
  border: none;
  background-color: #00602E;
  color: #FFFFFF;
  padding: 12px 15px;
  font-weight: 400;
  border-radius: 5px;
  box-shadow: rgba(0, 96, 46, 0.7) 0px 10px 40px -10px;
  transition: 0.3s;  
}

.tab button:hover {
  background-color: #004722;
}

.tab-content-area {
  padding: 30px;
}